<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru-RU" class="blurback">
     <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="{% static 'css/cabinet.css' %}" type="text/css">
        <title>Заказать сайт и дизайн</title>
        <meta name="description" content="разработка сайтов и веб-дизайна в Махачкале" />
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
        <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
        <link rel="canonical" href="https://cyberhealth.pythonanywhere.com/example1/" />
        <meta property="og:locale" content="ru_RU" /><meta property="og:locale:alternate" content="en_GB" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Заказать сайт и дизайн — веб-студия Махачева Тимура" />
        <meta property="og:description" content="разработка сайтов и веб-дизайна в Махачкале" />
        <meta property="og:url" content="https://cyberhealth.pythonanywhere.com/example1/" />
        <meta property="og:site_name" content="Веб дизайн и сайты под ключ" />
        <meta property="article:modified_time" content="2020-08-06T21:25:28+00:00" />
        <meta name="twitter:card" content="summary_large_image" />
        <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:300,400,700&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css">
        <script src="{% static 'javascript/jquery.js' %}"></script>
    </head>
    <body>
        <div id="maincont">
            <div class="menu_container">
                <ul>
                    <li> <a href="/">главная</a> </li>
                    <li> <a href="/services/">Пусто</a> </li>
                    <li> <a href="/tech/">Пусто</a> </li>
                    <li> <a href="/contacts/">Пусто</a> </li>
                </ul>
                <img id="imglog1" src="{% static 'images/log2.png' %}" />
            </div>
            <div id="mainc">

            </div>
            <div class="footer">
                <ul>
                    <li> Пусто </li>
                    <li> Пусто </li>
                    <li> <p><strong>Пусто</strong></p> </li>
                </ul>
            </div>
        </div>

    </body>








</html>