*{margin: 0;
  padding: 0;}

body{width: 100%;
    height: 100%;
    /*background-color: #030f15;*/
    text-rendering: optimizeSpeed!important;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;}

#maind2{position: relative;
    overflow: hidden;
    width: 140%;
    height: 100%;}

#mainc{position: absolute;
    background: #fff;
    width: 100%;
    top: 0px;
    bottom: 0px;
    overflow: hidden;}

#stcont{position: absolute;
    z-index: 6;
    height: 140%;
    overflow: hidden;}

#maincont{width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    background: #000;
    z-index: 999;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -ms-flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:0;
    padding:0;
    list-style:none;}

.footer {position: fixed;
    width: 100%;
    height: 52px;
    font-size: 13px;
    font-family: 'PT Sans Narrow';
    font-weight: bold;
    z-index: 10;
    background-color: black;
    bottom: 0;}

.footer ul{width: 100%;
    height: 45px;
    color: #fff;
    margin: 10px 0 0;
    padding: 0;
    line-height: 28px;
    margin-left: 3%;}

.footer ul li {text-align: left;
    margin: 0 3% 0 0;
    display: block;
    float: left;
    overflow: hidden;
    border-top: 3px solid transparent;}

.menu_container {position: fixed;
    width: 100%;
    height: 52px;
    font-size: 13px;
    font-family: 'PT Sans Narrow';
    font-weight: bold;
    text-transform: uppercase;
    z-index: 10;
    background-color: black;}

.menu_container ul li.menu_last_cell {margin: 0;
    /*text-align: right;
    width: auto;*/
    top: 20px;
    height: 100%;
    width: 200px;
    margin-right: 5%;}

#imglog1{position: absolute;
    right: 3%;
    top: 14%;
    height: 73%;
    width: 146px;
    opacity: 0.85;
}

.menu_container ul{width: 100%;
    height: 45px;
    color: #fff;
    margin: 10px 0 0;
    padding: 0;
    line-height: 28px;
    margin-left: 3%;}

.menu_container ul li {text-align: left;
    margin: 0 3% 0 0;
    display: block;
    float: left;
    overflow: hidden;
    border-top: 3px solid transparent;}

.menu_container ul li a {color: #fff;
    text-decoration: none;}
